/* src/components/LaunchSection/LaunchSection.css */

.launch-section-container {
  max-width: 1300px;
  margin: 0 auto 5rem auto;
  padding: 0 1.5rem;
}

.launch-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
}

.launch-image-wrapper {
  width: 100%;
  order: 1;
}


.launch-image {
  width: 100%;
  height: 650px;
  border-radius: 12px;
  object-fit: cover;
  object-position: top;
}

.launch-text-content {
  order: 2;
  padding: 0 0.5rem;
}

.launch-main-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.8rem;
  font-weight: 400;
  color: #131A35; /* COR NOVA */
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.launch-season {
  font-size: 0.9rem;
  font-weight: bold;
  color: #6a704c; /* Mantido verde */
  margin-bottom: 0.5rem;
}

.launch-author {
  font-size: 0.9rem;
  color: #131A35; /* COR NOVA */
  opacity: 0.6;
}

@media (min-width: 769px) {
  .launch-grid { grid-template-columns: 1fr 1fr; gap: 3rem; }
  .launch-image-wrapper { order: 1; }
  .launch-text-content { order: 2; padding: 0; }
  .launch-main-text { font-size: 3.2rem; }
}

@media (max-width: 768px) {
  .launch-image { height: 300px; }
  .launch-main-text { font-size: 2rem; }
}